@tailwind base;
@tailwind components;
@tailwind utilities;

.rem-height {
    height: calc(100vh - 64px);
}

.link-transition{
    transition: all 0.3s;
}

.card {
    max-height: 360px;
    overflow: hidden;
}

.player-image {
    transition: height 0.5s;
}

.card:hover .player-image {
    height: 15rem;
    opacity: 1;
}

.card:hover .extra-player-details {
    display: flex;
}


@layer components {
    .active {
        @apply border-b-2 border-purple-800 text-purple-800
    }
}
